{% extends "quiz_common.html" %}
{% block content %}


<body onload="startTimer({{ quiz.timer }})">
    <div class="container1">
        <div class="main">
            <form id="quiz-form" action="/submission/{{ quiz.id }}" method="post">
                {% if questions |length !=0 %}
                {% for question in questions %}
                    <div class="question">
                        <h3>{{ loop.index }}. {{ question.question }}</h3>
                        <div class="options">
                            <label style="display: None;"><input checked type="radio" name="answer_{{ question.id }}" value="0" ></label>

                            <label><input type="radio" name="answer_{{ question.id }}" value="1" > {{ question.option1 }}</label>
                            <label><input type="radio" name="answer_{{ question.id }}" value="2" > {{ question.option2 }}</label>
                            <label><input type="radio" name="answer_{{ question.id }}" value="3" > {{ question.option3 }}</label>
                            <label><input type="radio" name="answer_{{ question.id }}" value="4" > {{ question.option4 }}</label>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-success btn-sm" style="width: 200px; align-self:center;" type="submit">Submit Quiz</button>
                {% else %} 
                <h4>
                    No Question in this Quiz
                </h4>
                {% endif %}
            </form>
            
        </div>

        <div class="sidebar">
            <h3>Time remaining: <span style="color: aqua;" id="timer"></span></h3>
            <h4>{{ quiz.remarks }}</h4>
            <h4>Total Questions: {{ questions | count }}</h4>
        </div>
    </div>
    
    <script>
        function startTimer(duration) {
            const timerDisplay = document.getElementById('timer');
            const form = document.getElementById('quiz-form');
            let timeLeft = duration;

            const countdown = setInterval(() => {
                const minutes = Math.floor(timeLeft / 60);
                const seconds = timeLeft % 60;

                timerDisplay.textContent = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;

                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    form.submit();
                }

                timeLeft--;
            }, 1000);
        }
    </script>
{% endblock %}
